@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Petit+Formal+Script&display=swap');
/* -------------------------- */
:root{
    --primary: #B29B9C;
    --dark: #6F1E51;
    --golden:#FFC312;
    --water:#38ada9;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
}
section{
    margin: 4rem auto;
}
.sub-heading{
    font-weight: 150;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/* -------------------------styles--------------- */
.navbar-brand img{
    width: 3rem;
    /* transform: rotate(-45deg); */
}
.home_bg{
    /* background: var(--dark);
    background: #bf85d4; */
    /* background-color: #12CBC4; */
  
    position: relative;
    width: 100%;
    overflow:hidden;
    color: #846549;
    color: var(--dark);

}
.about{
    position: relative;
}
.about p{
    line-break: loose;
}
.about::before{
    position: absolute;
    left: -22px;
    height: 100%;
    width: 2px;
    background-color: #998675;
    content: '';
}
/* .home_bg::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #FDA7DF;
    left: 50%;
    z-index: -3;
    border-left: 2px dotted rgba(12, 10, 110, 0.2);
} */


.cool{
    font-family: 'Moo Lah Lah', cursive;
    font-weight: 100 !important;
    font-size: 6rem;
    color: var(--primary);
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
    text-shadow: 1px 3px 2px rgb(158, 16, 139);
    /* display: none; */
    
}
.logo img{
    width: 7rem;
}



/* --------Navbar starts-------- */
header{
    background: white;

}
header nav li a{
    color: var(--dark) !important;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
header nav form input{
    background: none !important;
    border: none !important;
    font-size: 1.5rem !important;
    outline:  none !important;
    
}
header nav form input::placeholder{
    color: white !important;

}
h2{
    color: #6F1E51;
}
/* --------Navbar Ends-------- */
.home{
    /* background: yellow; */
    margin: 3rem auto !important;
    display: flex;
}
.home img{
    width: 30rem;
    /* margin-top: 10rem; */
}

.middle img{
    width: 32rem;
}
.navbar-nav{
    /* background: yellow; */
    width: 50%;
}
nav{
    display: flex;
    justify-content: center;
}

/* -------------------------HANGING DESIGNS------------------------- */
.hangingPattern {
    padding: 2rem;
}
.hangingPattern .bar{
    width: 100%;
    height: 1rem;
    /* border: .5px solid var( --primary); */
    background: #dddddd;
}
.ring{
    width: 20rem;
    height: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: rgb(41, 41, 39);
    margin-top: 10rem;
    /* margin-left: 1px; */
}
.ring h4{
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
}
.ring::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: .2rem;
    border: 1px solid var(--primary);
    top: .2rem;
}
.ring::before{
    position: absolute;
    content: '';
    height: 50%;
    width: .3rem;
    background: var(--primary);
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
}
.ring1{
    background: rgba(200, 100, 50, .2);

}
.ring2{
    background: rgba(51, 204, 153, 0.2);

}
.ring3{
    background: rgba(201, 54, 86, 0.2);

}
.rings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* --------------------------------------------------------------------------- */
.navigation .card1{
    background: #D6A2E8;
}
.navigation .card2{    
    background: #6D214F;
    background: #c56cf0;
}
.navigation .card3{
    background: #82589F;
}
.navigation .card4{
    background: #cd84f1;
}


/* -----------Nature page starts-------- */
.salutations{
    width: 100%;
   padding: 3rem;
    background-image: linear-gradient(rgba(239, 238, 248, 0.5), rgba(15, 212, 226, 0.5));
    /* background: #d2dae2; */
    border-bottom: 3px solid #D980FA;
}
.maa{
    /* width: 8rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: green; */
}

.salutations .container{
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
.salutations h1{
    color: #D980FA;
    font-family: 'Petit Formal Script', cursive;
    margin: 2rem auto;
    text-shadow: 0px 2px 2px rgba(148, 6, 6, 0.4);
}
.salutations .translation span{
    color: var(--primary);
    
}
.salutations .translation {
    text-shadow: 0px 2px 2px rgba(32, 247, 86, 0.4);
}
.salutations img{
    width: 6rem;
}
.salutations .mantra{
    text-align: center;
}
.sides{
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.maa img{
    width: 8rem;
}
.rt{
    display: flex;
}
/* -----------Nature page ends-------- */



.intro-to-fav{
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 350;
    margin-top: 4rem ;
    color: var(--dark);
    text-shadow: 0px 1px 1px rgba(44, 105, 167, 0.4);
    border-top-left-radius:2px solid red ;
}
.intro-to-fav::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: -10px;
    background: var(--primary);
}

.intro-to-fav::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    right: -10px;
    background: var(--primary);
    top: 0;
}

.favourite .favourite-festivals{
margin: 2rem auto;
/* text-align: center; */
}
.favourite h3{
    color: var(--water);
}
.favourite-festivals .card{
    text-align: center;
    margin: 2rem auto;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: rgba(40, 189, 226, 0.15) 0px 3px 3px 0px;
    border: 1px solid #f8f6f6;
}
.favourite-festivals .card:hover{
    border:2px solid rgba(40, 189, 226, 0.15)
}
.favourite-festivals .card h4{
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(15, 19, 24, 0.4);

    text-transform: uppercase;
    margin: 2rem auto;
}
.favourite-festivals .card h4 .c1
{
    color:#EA2027
}
.favourite-festivals .card h4 .c2
{
    color:#EE5A24
}
.favourite-festivals .card h4 .c3
{
    color:#F79F1F
}
.favourite-festivals .card h4 .c4
{
    color:#FFC312
}
.favourite  .card h4 .d1{
    color: #ED4C67;
}
.favourite  .card h4 .d2{
    color: #B53471;
}
.favourite  .card h4 .d3{
    color: #833471;
}
.favourite  .card h4 .d4{
    color: #6F1E51;
}
.favourite  .card h4 .d5{
    color: #D980FA;
}
.favourite  .card h4 .d6{
    color: #FDA7DF;
}
.favourite .card h4 .b1{ color:#009432 ;}
.favourite .card h4 .b2{ color:#006266 ;}
.favourite .card h4 .b3{ color:#A3CB38 ;}
.favourite .card h4 .b4{ color: #12CBC4;}
.favourite .card h4 .b5{ color:#C4E538 ;}
.favourite .card h4 .b6{ color:#16a085 ;}





.my-work{

}
.my-work .buttons{
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
}
.my-work .buttons button{
    background: var(--primary);
    color: white;
}
.show{
    display: block;
}
.hide{
    display: none;
}